* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.library {
    box-shadow: 0 0 10px 0;
    display: flex;
    gap: 10px;
    background-color: antiquewhite;
}

.book {
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 1px solid;
}
