* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
}

.library {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: antiquewhite;
}

.book {
    height: 200px;
    width: 150px;
    margin: 5px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
}

button.addBook {
    position: fixed;
    top: 90%;
    right: 10%;
    height: 42px;
    width: 10ch;
}

form.addBookModal {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgb(231, 224, 214);
    padding: 30px;
}