* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
}

.library {
    flex: 1;
    max-width: 90vw;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-auto-rows: 200px;
    gap: 10px;
}

.book {
    background-color: rgb(202, 202, 202);
    box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.book .thumbnail {
    box-sizing: content-box;
    --scale: 18px;
    width: calc(6 * var(--scale));
    height: calc(7 * var(--scale));
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
}

button.addBook {
    position: fixed;
    top: 90%;
    right: 10%;
    height: 42px;
    width: 10ch;
}

.addBookModal {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgb(231, 224, 214);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.addBookModal input {
    margin-bottom: 20px;
}

input#hasReadInput {
    margin-right: 10px;
}

button#submitBookButton {
    position: absolute;
    bottom: 5%;
    right: 10%;
}

button.closeModal {
    border-style: none;
    width: fit-content;
    background-color: inherit;
    align-self: flex-end;
}